<div class="convertor-card">
  <div class="base">
      <span class="name">US Dollar</span>
      <div class="value-section">
          <span class="value">271</span>
          <span class="symbol">$</span>
      </div>
      <span class="abbr">USD</span>
  </div>
  <div class="converted">
      <span class="name">Russian Ruble</span>
      <div class="value-section">
          <span class="value">15.58</span>
          <span class="symbol">P</span>
      </div>
      <span class="abbr">RUB</span>
  </div>
</div>
