<div class="convertor-card">
  <div class="base">
      <span class="name">{{symbols?.baseCurrency}}</span>
      <div class="value-section">
        <mat-form-field appearance="fill" class="baseValue">
          <input matInput type="number" class="example-right-align" [(ngModel)]="baseValue" (ngModelChange)="convert()" (blur)="saveConversion()">
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="currency-select">
        <mat-label>From</mat-label>
        <mat-select [(ngModel)]="baseCurrency" (ngModelChange)="getLatestExchangeRates(2)">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="converted">
      <span class="name">{{symbols?.resultCurrency}}</span>
      <div class="value-section">
        <mat-form-field appearance="fill" class="baseValue">
          <input matInput type="number" class="example-right-align" [(ngModel)]="resultValue" (ngModelChange)="reverseConvert()" (blur)="saveConversion()">
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="currency-select">
        <mat-label>To</mat-label>
        <mat-select [(ngModel)]="resultCurrency" (ngModelChange)="getLatestExchangeRates(1)">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</div>
